<mat-card class="photo-card" *ngIf="photo">
  <button class="photo-card-wrapper" (click)="onClick()">
    <img class="photo-card-image" [src]="encodedImage">
  </button>

  <ng-container *ngIf="pageConfig.isShownActionsBlocks">
    <mat-card-actions>
      <button mat-button
        class="photo-card-action"
        [ngClass]="{'photo-card-action-selected': photo.isSelected }"
        (click)="onClick()"
      >
        <mat-icon>favorite</mat-icon>
        <span class="example-spacer"></span>
        <span *ngIf="!photo?.isSelected">{{ buttonTitle }}</span>
        <span *ngIf="photo?.isSelected">{{ buttonTitleSelected }}</span>
      </button>
    </mat-card-actions>
  </ng-container>
</mat-card>

