.photo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &-wrapper {
      background-color: inherit;
      border: none;
    }

    &-image {
      width: 100%;
      object-fit:cover;
      max-height: 100%;
    }

    &-action {
      border: none;
      background-color: inherit;

      &-selected {
        background-color: #ffd740;
      }
    }

    &-author {
      padding-left: 10px;
    }

    &-title {
      font-weight: bold;
    }

    &-description {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 1rem 0;
    }

    &-action-wrapper {
      margin-top: 2rem;
    }
  }
}

@media screen and (max-width: 768px) {
 .photo {
  &-card {
    &-description {
      padding: 1rem 1rem;
    }
  }
 }
}

.button-padding {
  padding: 2rem 1rem;
}

