.photo-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &-wrapper {
    height: 320px;
    background-color: rgba($color: #000000, $alpha: .8);
    border: none;
  }

  &-image {
    width: 100%;
    object-fit:cover;
    max-height: 80%;
  }

  &-action {
    border: none;
    background-color: inherit;

    &-selected {
      background-color: #ffd740;
    }
  }
}
